#onlineUsers {
  background-color: darkturquoise;
  border: 1px dashed black;
  width: 24.7%;
  height: 100%;
  overflow: hidden;
  float: left;
}

#messages {
  width: 50%;
  height: 90%;
  background-color: aquamarine;
  overflow-y: auto;
  float: left;
}

#loadMore {
  width: 50%;
  height: 10%;
  float: left;
  background-color: red;
  text-align: center;
}

#messages {
  overflow: auto;
}

#chatUsers {
  width: 25%;
  height: 90%;
  background-color: aqua;
  float: left;
}

#chatspace {
  width: 100%;
  height: 500px;
  float: left;
  clear: both;
}

#inputForm {
  width: 50%;
  height: 10%;
}
